<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>

        </div>
<div class="titulos">

    <h1> Sección 2
        </h1>
<br>
            <h2> Pregunta 1
                </h2>
    </div>
<br>
    <div class="parrafos" id="prueba">
        <p></p>
    </div>
    <div>
            <FONT SIZE=5 >
        <p>

        </p>
        <br>
            <ul align="left">

                <li>
                       <a>Accidentes de tránsito, en el hogar, o de otro tipo que afecten directamente a tu bienestar.</a>
                    </li>

                <li>
                        <a>Ocasiones en los que se haya visto afectada tu integridad física.</a>
                    </li>

            </ul>
    </FONT>
    </div>
<br>
<br>
            <div align="center">
                <input type="button" class="boton_personalizado_si_no" (click)="guardarRespuestaSI(1)" value="Si" >

                <input type="button" class="boton_personalizado_si_no" (click)="guardarRespuestaNO(0)" value="No" >

    </div>

 
