<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">


<div class="testbox">
        <div align="center">
  <h1>Iniciar sesión</h1>
        </div>
  <form #loginForm="ngForm" (ngSubmit)= login(loginForm)>


  <hr>
  <label id="icon" for="name"><i class="icon-envelope "></i></label>
  <input type="text" name="identificacion" id="identificacion" placeholder="Correo" ngModel>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="password" name="password" id="password" placeholder="Contraseña" ngModel>
  <div align="center">
  <button type="submit" class="boton_personalizado"> Iniciar </button>

</div>
  </form>
</div>
