<header class="app-heater">
    <div align="Center">
    
            <table>

                    <tbody>
    
                      <tr>
                        <td>
                            <img src="\assets\logo.PNG"/>
                        </td>
                       
                        <td>
                            <h2> PredictMind   
                            </h2>
                        </td> 
    
                      </tr>
    
                    </tbody>
    
                  </table>
</div>
    </header>
