<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>

        </div>
<br>
<br>
<div class="caja">


        <h1> Conclusión - Depresión</h1>
    <br>
    <br>
                <FONT SIZE=5 >
            <p>Busca ayuda con un profesional en el área de salud para tratar la enfermedad física.

            </p>
        </FONT>
</div>
            <br>


    <br>
                <div align="center">
                    <a class="boton_personalizado_si_no" [routerLink]="['/seccion2pregunta2']">Continuar</a>




        </div>
 
