<!-- Footer -->
<footer class="footer">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left app-footer">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div align="center" class="col-md-5 mt-md-0 mt-3">

                    <img src="\assets\logos.PNG"/>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

              <table>

                <tbody>

                  <tr>
                    <td>
                        <img src="\assets\ubi.PNG"/>
                    </td>

                    <td>
                        <font SIZE=3>Carrera 15 Calle 12 Norte
                            Armenia, Quindío, Colombia </font>

                    </td>

                  </tr>


                  <tr>
                      <td>
                          <img src="\assets\telefono.PNG"/>
                      </td>

                      <td>
                          <font SIZE=3>Tel.: +57 (6) 7359300 </font>

                      </td>

                    </tr>

                    <tr>
                        <td>
                            <img src="\assets\telefono.PNG"/>
                        </td>

                        <td>
                            <font SIZE=3>Quejas y Reclamos: 018000 96 35 78 opción 3.
                                Denuncias actos de corrupción: 018000 96 35 78 opción 4.</font>

                        </td>

                      </tr>
                      <tr>
                          <td>
                              <img src="\assets\correo.PNG"/>
                          </td>

                          <td>
                              <font SIZE=3>corrupcioncero@uniquindio.edu.co
                                  wbmaster@uniquindio.edu.co
                                  csu@uniquindio.edu.co</font>

                          </td>

                        </tr>

                </tbody>

              </table>


              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">

                <ul class="list-unstyled">
                  <li>
                    <a href="http://www.gobiernoenlinea.gov.co/" style="font-size: 17px">Gobierno en linea</a>
                  </li>
                  <li>
                    <a href="http://www.uniquindio.edu.co/publicaciones/contratacion_y_juridica_1_pub#" style="font-size: 17px" >Entes de control</a>
                  </li>
                  <li>
                    <a href="https://www.icfes.gov.co/" style="font-size: 17px">Icfes</a>
                  </li>
                  <li>
                    <a href="https://www.renata.edu.co/" style="font-size: 17px">Ministerio de educación nacional</a>
                  </li>

                <li>
                            <a href="https://www.renata.edu.co/" style="font-size: 17px">Renata</a>
                          </li>
                    <li>
                    <a href="https://www.utp.edu.co/radar/" style="font-size: 17px">Radar</a>
                  </li>
                  <li>
                        <a href="https://www.universia.net.co/" style="font-size: 17px">Universia</a>
                      </li>
                      <li>
                            <a href="http://www.uniquindio.edu.co/loader.php?lServicio=Glosario" style="font-size: 17px">Glosario</a>
                          </li>

                          <li>
                                <a href="http://www.uniquindio.edu.co/publicaciones/contratacion_y_juridica_1_pub" style="font-size: 17px">Contratación</a>
                              </li>
                </ul>

              </div>


              <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 app-footer">
                <a href="http://www.uniquindio.edu.co/publicaciones/contratacion_y_juridica_1_pub#" style="font-size: 15px"> Todos los derechos reservados © 2018 </a>
              </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
