<div class="topcorner" >
    <a href="#" (click)="logout()"> Cerrar sesión</a>

    </div>
<div class="titulos">

<h1> Sección 2
    </h1>
<br>
        <h2> Pregunta 2
            </h2>
</div>
<br>
<div class="parrafos" id="prueba">
    <p></p>
</div>
<div>
        <FONT SIZE=5 >
    <p>

    </p>
    <br>
        <ul align="left">

            <li>
                   <a><I>Irritación frecuente</I>.</a>
                </li>

            <li>
                    <a>Impulsividad en determinadas ocasiones.</a>
                </li>
                <li>
                    <a>Episodios de agresión repentina.</a>
                </li>
                <li>
                    <a>Inquietud física (Hiperactividad).</a>
                </li>
        </ul>
</FONT>
</div>
<br>
<br>
        <div align="center">
            <input type="button" class="boton_personalizado_si_no" (click)="guardarRespuestaSI(1)" value="Si" >

            <input type="button" class="boton_personalizado_si_no" (click)="guardarRespuestaNO(0)" value="No" >

</div>
 
