
        
<td-layout>
    
    <td-layout-nav toolbarTitle="PredictMind">
    
        <td-layout-manage-list>
                <div>
                        <a href="#" (click)="logout()"> Cerrar sesión</a>
                
                </div>
            <mat-toolbar td-sidenav-content>
                <mat-toolbar-row>
                    <span>Usuarios</span>
                    
                    
                    </mat-toolbar-row>
                    
            </mat-toolbar>
            <div td-sidenav-content>
<mat-nav-list>
    <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <button  mat-list-item [routerLink]="[item.route,item.parametro]"
                         [routerLinkActive]="['active']"
                         [routerLink]="">
                         

                         <mat-icon class="tc-blue-grey-700">{{item.icon}}</mat-icon>
                         {{item.title}}
        </button>
    </ng-template>
</mat-nav-list>

            </div>
            <router-outlet></router-outlet>
        </td-layout-manage-list>
        
    </td-layout-nav>
</td-layout>


