<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>

<div class="card-body">

<form #clienteForm="ngForm">
  <div class="form-group row">
    <label for="nombre" class="col-form-label col-sm-2">Nombre completo</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="clientes.nombre" name="nombre" required minlength="4" #nombre="ngModel"> <!-->required minlength="4"</!-->
        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">
            El nombre es requerido
          </div>

          <div *ngIf="nombre.errors.minlength">
            El nombre debe tener al menos 4 caracteres
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="idPaciente" class="col-form-label col-sm-2">Identificación</label>
        <div class="col-sm-6">
          <input type="text" class="form-control"  [(ngModel)]="clientes.idPaciente" name="idPaciente" required #idPaciente="ngModel"><!-->required</!-->
          <div class="alert alert-danger" *ngIf="idPaciente.invalid && (idPaciente.dirty || idPaciente.touched)">
            <div *ngIf="idPaciente.errors.required">
              La identificación es requerida
            </div>
          </div>
        </div>
      </div>

  <div class="form-group row">
    <label for="email" class="col-form-label col-sm-2">Email</label>
      <div class="col-sm-6">
        <input type="text" class="form-control"  [(ngModel)]="clientes.email" name="email" #email="ngModel" required email><!--> required email</!-->
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required">
            El email es requerido
          </div>
          <div *ngIf="email.errors.email">
            El email debe tener un formato valido
          </div>

        </div>
      </div>
    </div>

    <div class="form-group row">
          <label for="ocupacion" class="col-form-label col-sm-2">Ocupación</label>
            <div class="col-sm-6">
              <input type="text" class="form-control"  [(ngModel)]="clientes.ocupacion" name="ocupacion" required #ocupacion="ngModel"><!-->required</!-->
              <div class="alert alert-danger" *ngIf="ocupacion.invalid && (ocupacion.dirty || ocupacion.touched)">
                <div *ngIf="ocupacion.errors.required">
                  La ocupación es requerida
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
                <label for="direccion" class="col-form-label col-sm-2">Dirección</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control"  [(ngModel)]="clientes.direccion" name="direccion" required #direccion="ngModel"><!-->required</!-->
                    <div class="alert alert-danger" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
                      <div *ngIf="direccion.errors.required">
                        La dirección es requerida
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                      <label for="numeroCelular" class="col-form-label col-sm-2">Número de celular</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control"  [(ngModel)]="clientes.numeroCelular" name="numeroCelular" required #numeroCelular="ngModel"><!-->required</!-->
                          <div class="alert alert-danger" *ngIf="numeroCelular.invalid && (numeroCelular.dirty || numeroCelular.touched)">
                            <div *ngIf="numeroCelular.errors.required">
                            El número de celular es requerido
                            </div>
                          </div>
                        </div>
                      </div>

    <div class="form-group row">
  <label for="sexo" class="col-form-label col-sm-2">Sexo</label>
    <div class="col-sm-6">
      <input type="text" class="form-control"  [(ngModel)]="clientes.sexo" name="sexo" required #sexo="ngModel"><!-->required</!-->
      <div class="alert alert-danger" *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)">
        <div *ngIf="apellido.errors.required">
          El Sexo es requerido
        </div>
      </div>
    </div>
  </div>

<!-->
    <div class="form-group row">
      <label for="fecha" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input type="date" class="form-control"  [(ngModel)]="clientes.createAt" name="fecha" required #fecha="ngModel">
          <div class="alert alert-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
            <div *ngIf="fecha.errors.required">
              La fecha es requerido
            </div>
          </div>
        </div>
      </div>
</!-->
    <div class="form-group row">
      <label for="createAt" class="col-form-label col-sm-2">Fecha de nacimiento</label>
        <div class="col-sm-6">

          <input matInput [matDatepicker]="picker" class="form-control"  [(ngModel)]="clientes.fechaDeNacimiento" name="fechaDeNacimiento" required #fechaDeNacimiento="ngModel" style="display:inline; width:300px; ">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <div class="alert alert-danger" *ngIf="fechaDeNacimiento.invalid && (fechaDeNacimiento.dirty || fechaDeNacimiento.touched)">
            <div *ngIf="fechaDeNacimiento.errors.required">
              La fecha de nacimiento es requerida
            </div>
          </div>
        </div>
      </div>

<div class="form-group row">
  <div class="col-sm-6">
    <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!clientes.idPaciente else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
    <ng-template #elseBlock>
        <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
    </ng-template>
  </div>

</div>
</form>

  </div>
</div>
