<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>

        </div>
<br>
<br>

<div class="caja">


        <h1> sección 1 - Depresión </h1>
    <br>
    <br>
                <FONT SIZE=5 >
            <p>¡Has culminado la sección 1 del test!

            </p>
        </FONT>
</div>
            <br>
            <p class="parrafos">
                    <FONT SIZE=5 >
           A continuación se dará inicio a la sección 2, allí evaluaremos
           otras posibles causas que influyen en tu estado de ánimo actual.
        </FONT>
           </p>


    <br>
                <div align="center">
                    <a class="boton_personalizado_si_no" [routerLink]="['/seccion2pregunta1']">Continuar</a>




        </div>
       
