
<div class="topcorner" >
    <a href="#" (click)="logout()"> Cerrar sesión</a>
</div>
<FONT SIZE=20 COLOR=#025624>
<h2 align="center"> Modulos
</h2></FONT>
<br>

<div class="parrafos">
<FONT SIZE=5 > <p>Escoge el tema a tratar de tú interés, para que así podamos evaluar tu estado de ánimo actual.</p> </FONT>
</div>
<br>
<br>
<div align="center">


    <a class="boton_personalizado" [routerLink]="['/seccion1pregunta1']">Depresión</a>
    <br>
    <br>
    <br>

    <a class="boton_personalizado" [routerLink]="['/seccion1pregunta1p']">Ansiedad</a>
   
</div>