<div class="topcorner" >
        <a href="#" (click)="logout()"> Cerrar sesión</a>

        </div>
<div class="titulos">

        <h1> Sección 2
            </h1>
    <br>
                <h2> Pregunta 3
                    </h2>
        </div>
    <br>
        <div id="prueba" class="parrafos">
            <p></p>
        </div>

        <div>
            <ul align="left">

                    <li>
                           <a>Irritabilidad.</a>
                        </li>

                    <li>
                            <a>Poco sueño.</a>
                        </li>

                    <li>
                            <a>Inquietud, habla con rapidez.</a>
                        </li>
                    <li>
                            <a>Precipitación en la toma de decisiones.</a>
                        </li>
                    <li>
                            <a>Impulsividad.</a>
                        </li>
                    <li>
                            <a>Aumento en tu autoestima.</a>
                        </li>
                </ul>
        </div>
    <br>
                <div align="center">
                    <input type="button" class="boton_personalizado_si_no" (click)="guardarRespuestaSI(1)" value="Si" >

                    <input type="button" class="boton_personalizado_si_no" (click)="guardarRespuestaNO(0)" value="No" >


        </div>
 
