<div class="topcorner" >
    <a href="#" (click)="logout()"> Cerrar sesión</a>

    </div>
<div class="titulos">

<h1> Sección 1
    </h1>
<br>
        <h2> Pregunta 2
            </h2>
</div>
<br>
<div class="parrafos" id="prueba">
    <p></p>
</div>

<br>
        <div align="center">
                <input type="button" class="boton_personalizado_si_no" (click)="guardarRespuestaSI(1)" value="Si" >

                <input type="button" class="boton_personalizado_si_no" (click)="guardarRespuestaNO(0)" value="No" >


</div>
 
