/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #025624;
    border-radius: 6px;
    border: 2px solid #0000;

  }
  .boton_personalizado:hover{
    color: #025624;
    background-color: #000;
  }
  .titulos{

    color:#025624;
    text-align:center;

  }

  .parrafos{
    font-size: 18pt;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  }

  .boton_personalizado_si_no{
    margin: 10px;
    height:35px;
    text-align:center;
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #025624;
    border-radius: 6px;
    border: 2px solid #0000;

  }

  .invalido{

    color: #d40e0e;


  }

.boton_personalizado_si_no:hover{
  color: #025624;
  background-color: #000;

}

.caja {
  color: #ffffff;
  font-size: 1px;
  font-weight: 400;
  text-align: center;
  background:#04b034;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #025624;
}

.topcorner {
  position:absolute;
  top:220px;
  right:20px;
}

.boton_personalizado_topcorner{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #025624;
  border-radius: 6px;
  border: 2px solid #0000;
  position:absolute;
  top:220px;
  right:20px;
}


.testbox {
  margin: 20px auto;
  width: 360px;
  height: 350px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}



form{
  margin: 0 30px;
}





input[type=text],input[type=password]{
  width: 210px;
  height: 39px;
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px;
  padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}

#icon {
  display: inline-block;
  width: 48px;
  background-color: #025624;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 0px #cbc9c9;
}

html{
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.wrap{
  padding-bottom: 60px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
