<div class="topcorner" >
                <a href="#" (click)="logout()"> Cerrar sesión</a>
        </div>
 <FONT SIZE=20 COLOR=#025624>
<h2 align="center"> Introducción
    </h2></FONT>
<br>

    <div class="parrafos">
    <FONT SIZE=5 > <p>En el estado de ánimo de las personas se puede ver reflejado multiples
            sintomas que pueden desencadenar gran variedad de acciones. En breve te presentaremos
           una serie de indicios, para que así nos cuentes si te identificas con ellos o no.</p> </FONT>
        </div>
        <br>
<br>
        <div align="center">


                <a class="boton_personalizado" [routerLink]="['/evaluacion']">Comenzar</a>
               
        </div>

        